<?xml version="1.0"?> 
<robot name="ros_control" xmlns:xacro="http://www.ros.org/wiki/xacro">

<!-- right aux_track -->
	<xacro:aux_track_wheel aux_name_link="right_aux_track_wheel1" prefix="right" x="0.0091" z="0.0719" roll="${PI/2}"/>
	<xacro:aux_track_wheel aux_name_link="right_aux_track_wheel2" prefix="right" x="-0.0091" z="0.0719" roll="${PI/2}"/>
	<xacro:aux_track_wheel aux_name_link="right_aux_track_wheel3" prefix="right" x="-0.0266" z="0.0674" roll="${PI/2}"/>
	<xacro:aux_track_wheel aux_name_link="right_aux_track_wheel4" prefix="right" x="-0.0425" z="0.0588" roll="${PI/2}"/>
	<xacro:aux_track_wheel aux_name_link="right_aux_track_wheel5" prefix="right" x="-0.0557" z="0.0465" roll="${PI/2}"/>
	<xacro:aux_track_wheel aux_name_link="right_aux_track_wheel6" prefix="right" x="-0.0654" z="0.0312" roll="${PI/2}"/>
	<xacro:aux_track_wheel aux_name_link="right_aux_track_wheel7" prefix="right" x="-0.071" z="0.0141" roll="${PI/2}"/>
	<xacro:aux_track_wheel aux_name_link="right_aux_track_wheel8" prefix="right" x="-0.0722" z="-0.0039" roll="${PI/2}"/>
	<xacro:aux_track_wheel aux_name_link="right_aux_track_wheel9" prefix="right" x="-0.0692" z="-0.0217" roll="${PI/2}"/>
	<xacro:aux_track_wheel aux_name_link="right_aux_track_wheel10" prefix="right" x="-0.0615" z="-0.0382" roll="${PI/2}"/>
	<xacro:aux_track_wheel aux_name_link="right_aux_track_wheel11" prefix="right" x="-0.0502" z="-0.0523" roll="${PI/2}"/>
	<xacro:aux_track_wheel aux_name_link="right_aux_track_wheel12" prefix="right" x="-0.0356" z="-0.06315" roll="${PI/2}"/>
	<xacro:aux_track_wheel aux_name_link="right_aux_track_wheel13" prefix="right" x="-0.0184" z="-0.07" roll="${PI/2}"/>
	<xacro:aux_track_wheel aux_name_link="right_aux_track_wheel14" prefix="right" x="0" z="-0.0725" roll="${PI/2}"/>
	<xacro:aux_track_wheel aux_name_link="right_aux_track_wheel15" prefix="right" x="0.018" z="-0.0725" roll="${PI/2}"/>
	<xacro:aux_track_wheel aux_name_link="right_aux_track_wheel16" prefix="right" x="0.036" z="-0.0725" roll="${PI/2}"/>
	<xacro:aux_track_wheel aux_name_link="right_aux_track_wheel17" prefix="right" x="0.054" z="-0.0725" roll="${PI/2}"/>
	<xacro:aux_track_wheel aux_name_link="right_aux_track_wheel18" prefix="right" x="0.072" z="-0.0725" roll="${PI/2}"/>
	<xacro:aux_track_wheel aux_name_link="right_aux_track_wheel19" prefix="right" x="0.09" z="-0.0725" roll="${PI/2}"/>
	<xacro:aux_track_wheel aux_name_link="right_aux_track_wheel20" prefix="right" x="0.108" z="-0.0725" roll="${PI/2}"/>
	<xacro:aux_track_wheel aux_name_link="right_aux_track_wheel21" prefix="right" x="0.126" z="-0.0725" roll="${PI/2}"/>
	<xacro:aux_track_wheel aux_name_link="right_aux_track_wheel22" prefix="right" x="0.144" z="-0.0725" roll="${PI/2}"/>
	<xacro:aux_track_wheel aux_name_link="right_aux_track_wheel23" prefix="right" x="0.162" z="-0.0725" roll="${PI/2}"/>
	<xacro:aux_track_wheel aux_name_link="right_aux_track_wheel24" prefix="right" x="0.180" z="-0.0725" roll="${PI/2}"/>
	<xacro:aux_track_wheel aux_name_link="right_aux_track_wheel25" prefix="right" x="0.198" z="-0.0725" roll="${PI/2}"/>
	<xacro:aux_track_wheel aux_name_link="right_aux_track_wheel26" prefix="right" x="0.216" z="-0.0725" roll="${PI/2}"/>
	<xacro:aux_track_wheel aux_name_link="right_aux_track_wheel27" prefix="right" x="0.234" z="-0.0725" roll="${PI/2}"/>
	<xacro:aux_track_wheel aux_name_link="right_aux_track_wheel28" prefix="right" x="0.252" z="-0.0725" roll="${PI/2}"/>
	<xacro:aux_track_wheel aux_name_link="right_aux_track_wheel29" prefix="right" x="0.270" z="-0.0725" roll="${PI/2}"/>
	<xacro:aux_track_wheel aux_name_link="right_aux_track_wheel30" prefix="right" x="0.288" z="-0.0725" roll="${PI/2}"/>
	<xacro:aux_track_wheel aux_name_link="right_aux_track_wheel31" prefix="right" x="0.306" z="-0.0725" roll="${PI/2}"/>
	<xacro:aux_track_wheel aux_name_link="right_aux_track_wheel32" prefix="right" x="0.324" z="-0.0725" roll="${PI/2}"/>
	<xacro:aux_track_wheel aux_name_link="right_aux_track_wheel33" prefix="right" x="0.342" z="-0.0725" roll="${PI/2}"/>
	<xacro:aux_track_wheel aux_name_link="right_aux_track_wheel34" prefix="right" x="0.360" z="-0.0725" roll="${PI/2}"/>
	<xacro:aux_track_wheel aux_name_link="right_aux_track_wheel35" prefix="right" x="0.378" z="-0.0725" roll="${PI/2}"/>
	<xacro:aux_track_wheel aux_name_link="right_aux_track_wheel36" prefix="right" x="0.3949" z="-0.0721" roll="${PI/2}"/>
	<xacro:aux_track_wheel aux_name_link="right_aux_track_wheel38" prefix="right" x="0.4116" z="-0.0652" roll="${PI/2}"/>
	<xacro:aux_track_wheel aux_name_link="right_aux_track_wheel40" prefix="right" x="0.4226" z="-0.0509" roll="${PI/2}"/>
	<xacro:aux_track_wheel aux_name_link="right_aux_track_wheel42" prefix="right" x="0.4252" z="-0.0332" roll="${PI/2}"/>
	<xacro:aux_track_wheel aux_name_link="right_aux_track_wheel44" prefix="right" x="0.419" z="-0.0164" roll="${PI/2}"/>
	<xacro:aux_track_wheel aux_name_link="right_aux_track_wheel46" prefix="right" x="0.4051" z="-0.0048" roll="${PI/2}"/>
	<xacro:aux_track_wheel aux_name_link="right_aux_track_wheel48" prefix="right" x="0.3876" z="-0.0004" roll="${PI/2}"/>
	<xacro:aux_track_wheel aux_name_link="right_aux_track_wheel50" prefix="right" x="0.3698" z="0.003" roll="${PI/2}"/>
	<xacro:aux_track_wheel aux_name_link="right_aux_track_wheel52" prefix="right" x="0.352" z="0.0065" roll="${PI/2}"/>
	<xacro:aux_track_wheel aux_name_link="right_aux_track_wheel54" prefix="right" x="0.3342" z="0.0099" roll="${PI/2}"/>
	<xacro:aux_track_wheel aux_name_link="right_aux_track_wheel56" prefix="right" x="0.3164" z="0.0133" roll="${PI/2}"/>
	<xacro:aux_track_wheel aux_name_link="right_aux_track_wheel58" prefix="right" x="0.2986" z="0.0167" roll="${PI/2}"/>
	<xacro:aux_track_wheel aux_name_link="right_aux_track_wheel60" prefix="right" x="0.2808" z="0.0201" roll="${PI/2}"/>
	<xacro:aux_track_wheel aux_name_link="right_aux_track_wheel62" prefix="right" x="0.263" z="0.0235" roll="${PI/2}"/>
	<xacro:aux_track_wheel aux_name_link="right_aux_track_wheel64" prefix="right" x="0.2452" z="0.0269" roll="${PI/2}"/>
	<xacro:aux_track_wheel aux_name_link="right_aux_track_wheel66" prefix="right" x="0.2274" z="0.0303" roll="${PI/2}"/>
	<xacro:aux_track_wheel aux_name_link="right_aux_track_wheel68" prefix="right" x="0.2096" z="0.0337" roll="${PI/2}"/>
	<xacro:aux_track_wheel aux_name_link="right_aux_track_wheel70" prefix="right" x="0.1918" z="0.0371" roll="${PI/2}"/>
	<xacro:aux_track_wheel aux_name_link="right_aux_track_wheel72" prefix="right" x="0.1741" z="0.0405" roll="${PI/2}"/>
	<xacro:aux_track_wheel aux_name_link="right_aux_track_wheel74" prefix="right" x="0.1563" z="0.0439" roll="${PI/2}"/>
	<xacro:aux_track_wheel aux_name_link="right_aux_track_wheel76" prefix="right" x="0.1385" z="0.0473" roll="${PI/2}"/>
	<xacro:aux_track_wheel aux_name_link="right_aux_track_wheel78" prefix="right" x="0.1207" z="0.0507" roll="${PI/2}"/>
	<xacro:aux_track_wheel aux_name_link="right_aux_track_wheel80" prefix="right" x="0.1029" z="0.0541" roll="${PI/2}"/>
	<xacro:aux_track_wheel aux_name_link="right_aux_track_wheel82" prefix="right" x="0.0851" z="0.0575" roll="${PI/2}"/>
	<xacro:aux_track_wheel aux_name_link="right_aux_track_wheel84" prefix="right" x="0.0673" z="0.0609" roll="${PI/2}"/>
	<xacro:aux_track_wheel aux_name_link="right_aux_track_wheel86" prefix="right" x="0.0495" z="0.0643" roll="${PI/2}"/>
	<xacro:aux_track_wheel aux_name_link="right_aux_track_wheel88" prefix="right" x="0.0317" z="0.0677" roll="${PI/2}"/>

<!-- left aux_track -->
	<xacro:aux_track_wheel aux_name_link="left_aux_track_wheel1" prefix="left" x="0.0091" z="0.0719" roll="${PI/2}"/>
	<xacro:aux_track_wheel aux_name_link="left_aux_track_wheel2" prefix="left" x="-0.0091" z="0.0719" roll="${PI/2}"/>
	<xacro:aux_track_wheel aux_name_link="left_aux_track_wheel3" prefix="left" x="-0.0266" z="0.0674" roll="${PI/2}"/>
	<xacro:aux_track_wheel aux_name_link="left_aux_track_wheel4" prefix="left" x="-0.0425" z="0.0588" roll="${PI/2}"/>
	<xacro:aux_track_wheel aux_name_link="left_aux_track_wheel5" prefix="left" x="-0.0557" z="0.0465" roll="${PI/2}"/>
	<xacro:aux_track_wheel aux_name_link="left_aux_track_wheel6" prefix="left" x="-0.0654" z="0.0312" roll="${PI/2}"/>
	<xacro:aux_track_wheel aux_name_link="left_aux_track_wheel7" prefix="left" x="-0.071" z="0.0141" roll="${PI/2}"/>
	<xacro:aux_track_wheel aux_name_link="left_aux_track_wheel8" prefix="left" x="-0.0722" z="-0.0039" roll="${PI/2}"/>
	<xacro:aux_track_wheel aux_name_link="left_aux_track_wheel9" prefix="left" x="-0.0692" z="-0.0217" roll="${PI/2}"/>
	<xacro:aux_track_wheel aux_name_link="left_aux_track_wheel10" prefix="left" x="-0.0615" z="-0.0382" roll="${PI/2}"/>
	<xacro:aux_track_wheel aux_name_link="left_aux_track_wheel11" prefix="left" x="-0.0502" z="-0.0523" roll="${PI/2}"/>
	<xacro:aux_track_wheel aux_name_link="left_aux_track_wheel12" prefix="left" x="-0.0356" z="-0.06315" roll="${PI/2}"/>
	<xacro:aux_track_wheel aux_name_link="left_aux_track_wheel13" prefix="left" x="-0.0184" z="-0.07" roll="${PI/2}"/>
	<xacro:aux_track_wheel aux_name_link="left_aux_track_wheel14" prefix="left" x="0" z="-0.0725" roll="${PI/2}"/>
	<xacro:aux_track_wheel aux_name_link="left_aux_track_wheel15" prefix="left" x="0.018" z="-0.0725" roll="${PI/2}"/>
	<xacro:aux_track_wheel aux_name_link="left_aux_track_wheel16" prefix="left" x="0.036" z="-0.0725" roll="${PI/2}"/>
	<xacro:aux_track_wheel aux_name_link="left_aux_track_wheel17" prefix="left" x="0.054" z="-0.0725" roll="${PI/2}"/>
	<xacro:aux_track_wheel aux_name_link="left_aux_track_wheel18" prefix="left" x="0.072" z="-0.0725" roll="${PI/2}"/>
	<xacro:aux_track_wheel aux_name_link="left_aux_track_wheel19" prefix="left" x="0.09" z="-0.0725" roll="${PI/2}"/>
	<xacro:aux_track_wheel aux_name_link="left_aux_track_wheel20" prefix="left" x="0.108" z="-0.0725" roll="${PI/2}"/>
	<xacro:aux_track_wheel aux_name_link="left_aux_track_wheel21" prefix="left" x="0.126" z="-0.0725" roll="${PI/2}"/>
	<xacro:aux_track_wheel aux_name_link="left_aux_track_wheel22" prefix="left" x="0.144" z="-0.0725" roll="${PI/2}"/>
	<xacro:aux_track_wheel aux_name_link="left_aux_track_wheel23" prefix="left" x="0.162" z="-0.0725" roll="${PI/2}"/>
	<xacro:aux_track_wheel aux_name_link="left_aux_track_wheel24" prefix="left" x="0.180" z="-0.0725" roll="${PI/2}"/>
	<xacro:aux_track_wheel aux_name_link="left_aux_track_wheel25" prefix="left" x="0.198" z="-0.0725" roll="${PI/2}"/>
	<xacro:aux_track_wheel aux_name_link="left_aux_track_wheel26" prefix="left" x="0.216" z="-0.0725" roll="${PI/2}"/>
	<xacro:aux_track_wheel aux_name_link="left_aux_track_wheel27" prefix="left" x="0.234" z="-0.0725" roll="${PI/2}"/>
	<xacro:aux_track_wheel aux_name_link="left_aux_track_wheel28" prefix="left" x="0.252" z="-0.0725" roll="${PI/2}"/>
	<xacro:aux_track_wheel aux_name_link="left_aux_track_wheel29" prefix="left" x="0.270" z="-0.0725" roll="${PI/2}"/>
	<xacro:aux_track_wheel aux_name_link="left_aux_track_wheel30" prefix="left" x="0.288" z="-0.0725" roll="${PI/2}"/>
	<xacro:aux_track_wheel aux_name_link="left_aux_track_wheel31" prefix="left" x="0.306" z="-0.0725" roll="${PI/2}"/>
	<xacro:aux_track_wheel aux_name_link="left_aux_track_wheel32" prefix="left" x="0.324" z="-0.0725" roll="${PI/2}"/>
	<xacro:aux_track_wheel aux_name_link="left_aux_track_wheel33" prefix="left" x="0.342" z="-0.0725" roll="${PI/2}"/>
	<xacro:aux_track_wheel aux_name_link="left_aux_track_wheel34" prefix="left" x="0.360" z="-0.0725" roll="${PI/2}"/>
	<xacro:aux_track_wheel aux_name_link="left_aux_track_wheel35" prefix="left" x="0.378" z="-0.0725" roll="${PI/2}"/>
	<xacro:aux_track_wheel aux_name_link="left_aux_track_wheel36" prefix="left" x="0.3949" z="-0.0721" roll="${PI/2}"/>
	<xacro:aux_track_wheel aux_name_link="left_aux_track_wheel38" prefix="left" x="0.4116" z="-0.0652" roll="${PI/2}"/>
	<xacro:aux_track_wheel aux_name_link="left_aux_track_wheel40" prefix="left" x="0.4226" z="-0.0509" roll="${PI/2}"/>
	<xacro:aux_track_wheel aux_name_link="left_aux_track_wheel42" prefix="left" x="0.4252" z="-0.0332" roll="${PI/2}"/>
	<xacro:aux_track_wheel aux_name_link="left_aux_track_wheel44" prefix="left" x="0.419" z="-0.0164" roll="${PI/2}"/>
	<xacro:aux_track_wheel aux_name_link="left_aux_track_wheel46" prefix="left" x="0.4051" z="-0.0048" roll="${PI/2}"/>
	<xacro:aux_track_wheel aux_name_link="left_aux_track_wheel48" prefix="left" x="0.3876" z="-0.0004" roll="${PI/2}"/>
	<xacro:aux_track_wheel aux_name_link="left_aux_track_wheel50" prefix="left" x="0.3698" z="0.003" roll="${PI/2}"/>
	<xacro:aux_track_wheel aux_name_link="left_aux_track_wheel52" prefix="left" x="0.352" z="0.0065" roll="${PI/2}"/>
	<xacro:aux_track_wheel aux_name_link="left_aux_track_wheel54" prefix="left" x="0.3342" z="0.0099" roll="${PI/2}"/>
	<xacro:aux_track_wheel aux_name_link="left_aux_track_wheel56" prefix="left" x="0.3164" z="0.0133" roll="${PI/2}"/>
	<xacro:aux_track_wheel aux_name_link="left_aux_track_wheel58" prefix="left" x="0.2986" z="0.0167" roll="${PI/2}"/>
	<xacro:aux_track_wheel aux_name_link="left_aux_track_wheel60" prefix="left" x="0.2808" z="0.0201" roll="${PI/2}"/>
	<xacro:aux_track_wheel aux_name_link="left_aux_track_wheel62" prefix="left" x="0.263" z="0.0235" roll="${PI/2}"/>
	<xacro:aux_track_wheel aux_name_link="left_aux_track_wheel64" prefix="left" x="0.2452" z="0.0269" roll="${PI/2}"/>
	<xacro:aux_track_wheel aux_name_link="left_aux_track_wheel66" prefix="left" x="0.2274" z="0.0303" roll="${PI/2}"/>
	<xacro:aux_track_wheel aux_name_link="left_aux_track_wheel68" prefix="left" x="0.2096" z="0.0337" roll="${PI/2}"/>
	<xacro:aux_track_wheel aux_name_link="left_aux_track_wheel70" prefix="left" x="0.1918" z="0.0371" roll="${PI/2}"/>
	<xacro:aux_track_wheel aux_name_link="left_aux_track_wheel72" prefix="left" x="0.1741" z="0.0405" roll="${PI/2}"/>
	<xacro:aux_track_wheel aux_name_link="left_aux_track_wheel74" prefix="left" x="0.1563" z="0.0439" roll="${PI/2}"/>
	<xacro:aux_track_wheel aux_name_link="left_aux_track_wheel76" prefix="left" x="0.1385" z="0.0473" roll="${PI/2}"/>
	<xacro:aux_track_wheel aux_name_link="left_aux_track_wheel78" prefix="left" x="0.1207" z="0.0507" roll="${PI/2}"/>
	<xacro:aux_track_wheel aux_name_link="left_aux_track_wheel80" prefix="left" x="0.1029" z="0.0541" roll="${PI/2}"/>
	<xacro:aux_track_wheel aux_name_link="left_aux_track_wheel82" prefix="left" x="0.0851" z="0.0575" roll="${PI/2}"/>
	<xacro:aux_track_wheel aux_name_link="left_aux_track_wheel84" prefix="left" x="0.0673" z="0.0609" roll="${PI/2}"/>
	<xacro:aux_track_wheel aux_name_link="left_aux_track_wheel86" prefix="left" x="0.0495" z="0.0643" roll="${PI/2}"/>
	<xacro:aux_track_wheel aux_name_link="left_aux_track_wheel88" prefix="left" x="0.0317" z="0.0677" roll="${PI/2}"/>
</robot>
